<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <style>
  </style>
</head>

<body>
  <section class="section">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-5">
          <span class="control is-grouped">
            <span class="tag is-light">Executions &nbsp;
            <span class="tag is-white is-rounded">3</span></span>
          </span>
          <span class="control is-grouped">
              <span class="tag is-light">Elapsed &nbsp;
              <span class="tag is-white is-rounded">3</span></span>
          </span>
          <span class="control is-grouped">
              <span class="tag is-light">Rows &nbsp;
              <span class="tag is-white is-rounded">400</span>
          </span>
          <span class="control is-grouped">
              <span class="tag is-light">More &nbsp;
              <span class="tag is-light">false</span>
          </span>
        </div>
        <div class="column is-3">
          <a class="icon tag button has-text-success">
            <i class="fas fa-play"></i>
          </a>
          <a class="icon tag button has-text-danger">
            <i class="fas fa-stop"></i>
          </a>
          <a class="icon tag button has-text-warning">
            <i class="fas fa-check"></i>
          </a>
          <a class="icon tag button has-text-info">
            <i class="fas fa-undo"></i>
          </a>
          <a class="icon tag button has-text-black">
            <i class="fas fa-download"></i>
          </a>
          <a class="icon tag button has-text-danger">
            <i class="fas fa-times"></i>
          </a>
        </div>
        <div class="column is-4">
          <input class="input is-small is-expanded" type="text" placeholder="Filter..." />
        </div>
      </div>
      <div class="notification is-warning">hello</div>
  </section>

</body>

</html>

<!--div class="container-fluid">
    <div v-if="hasError">
      <b-alert show variant="danger">{{sqlStatement.error}}</b-alert>
      <pre>{{sqlStatement.sql}}</pre>
    </div>
    <div class="row" v-if="!hasError">
      <div class="col" v-if="isQuery && !busy">
        <div class="badge">Executions: {{sqlStatement.executionCount}}</div>
        <div class="badge">Elapsed: {{sqlStatement.executionTime}}ms</div>
        <div class="badge">Rows: {{totalRows}}</div>
        <div class="badge">More?: {{sqlStatement.moreRows}}</div>
      </div>
      <div class="col" v-if="!isQuery && !busy">
        <div class="badge">Elapsed: {{sqlStatement.executionTime}}ms</div>
        <div class="badge">Rows Affected: {{sqlStatement.updateCount}}</div>
        <div class="badge">Status: {{sqlStatement.status}}</div>
        <pre>{{sqlStatement.sql}}</pre>
      </div>
      <div class="col" v-if="busy">
        <span class="fa fa-spinner fa-pulse fa-3x fa-fw"></span>
        <div class="badge">Executing</div>
        <pre>{{sqlStatement.sql}}</pre>
      </div>
      <div class="button-group col">
        <b-btn :disabled="busy" class="btn-sm btn-success fa fa-refresh" title="Refresh" @click="execute('reexecute')"/>
        <b-btn :disabled="!busy" class="btn-sm btn-danger fa fa-stop" title="Cancel" @click="execute('cancel')"/>
        <b-btn :disabled="!isTxn" class="btn-sm btn-success fa fa-check" title="Commit" @click="execute('commit')"/>
        <b-btn :disabled="!isTxn" class="btn-sm btn-warning fa fa-undo" title="Rollback" @click="execute('rollback')"/>
        <b-btn :disabled="!totalRows" class="btn-sm btn-success fa fa-download" title="Export" @click="execute('export')"/>
        <b-btn class="btn-sm btn-danger fa fa-close" title="Close" @click="execute('close')"/>
      </div>
      <div class="col">
        <input type="text" placeholder="Filter..." style="width:100%;"/>
      </div>
      </div>
      <div id="result-grid" /-->