.fa { font-size: 12px; }

table.results {
    border-collapse: collapse;
    border-spacing:1px;
    width: 100%;
    min-width: 1000px;
    overflow: auto
}

th.results {
    border:2px solid black;
    padding: 2;
    margin: 4px;
    resize: horizontal;
    overflow: hidden;
    max-width: 0;
    font-family: 'Droid Sans Mono', monospace, 'Droid Sans Fallback';
    font-size: 14px;
    background: lightgoldenrodyellow;
}

td.results {
    border: 1px solid black;
    padding: 0;
    margin: 0px;
    max-width: 0;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Droid Sans Mono', monospace, 'Droid Sans Fallback';
    font-size: 12px;
}